/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;*/
  font-weight: normal;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
  -moz-text-size-adjust: 100% !important;
  /*ios禁止用户设置微信字体大小*/
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* custom */
a {
  color: #7e8c8d;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}

html, body {
  width: 100%;

}

body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Microsoft YaHei", "微软雅黑", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif !important;
  background: #edecf1;
}

/*nation所用到的公共样式*/
input, select, textarea, button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  font-family: "Microsoft YaHei" !important;
}

.base {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.imgbase {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.btw {
  display: flex;
  justify-content: space-between;
}

.arc {
  display: flex;
  justify-content: space-around;
}

.end {
  display: flex;
  justify-content: flex-end;
}

.start {
  display: flex;
  justify-content: flex-start;
}

/*上下垂直居中*/
.center {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/*向右指向的箭头*/
.sanjiaoleft {
  display: inline-block;
  width: .15rem;
  height: .15rem;
  border-top: .02rem solid #aaa;
  border-right: .02rem solid #aaa;
  transform: rotate(45deg);
}

/*1行省略*/
.sheng1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.wrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

/*多行省略*/
.sheng2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

}

img {
  display: inline-block;
}

img[lazy=loading] {
  width: 40px !important;
  height: 40px !important;
  left: 50%;

}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to /* .fade-leave-active 在低于版本 2.1.8 中 */
{
  opacity: 0
}

.heibase {
  min-height: 100vh;
}

.tribe {
  background: #fff;
  overflow: hidden;
  position: relative;
}

.yd-navbar {
  display: flex;
  align-items: center;
  height: 40px !important;
  background: #910000 !important;

}

.yd-navbar-center-title {
  line-height: 40px !important;
  font-size: 20px !important;
  color: #fff !important;
}

.yd-back-icon {
  color: #fff !important;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.mh10 {
  margin: 0 10px;
}

.mv10 {
  margin: 10px 0;
}

.m20 {
  margin: 20px;
}

.mh20 {
  margin: 0 20px;
}

.mt10 {
  margin-top: 10px;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mt20 {
  margin-top: 20px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.p10 {
  padding: 10px;
}

.p20 {
  padding: 20px;
}

.pv10 {
  padding: 10px 0;
}

.ph10 {
  padding: 0 10px;
}

.pv20 {
  padding: 20px 0;
}

.ph20 {
  padding: 0 20px;
}

.curpoint {
  cursor: pointer;
}

.align {
  display: flex;
  align-items: center;
}

.stretch {
  display: flex;
  align-items: stretch;
  justify-content: center;

}

/*1行省略*/
.sheng1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/*多行省略*/
.sheng2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.blue {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
}

.font {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
}

.border {
  border: 1px solid #dfdfdf;
}

.border-bottom {
  border-bottom: 1px solid #dfdfdf;
}

.base {
  position: relative;
  overflow: hidden;
}

.t-white {
  color: white;
}

.b-white {
  background: white;
}

.shadow-light {
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}

.shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, .2), 0 0 6px rgba(0, 0, 0, .04);
}

.shadow-top {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, .2), 0 0 6px rgba(0, 0, 0, .04);
}

.radius5 {
  border-radius: 5px;
}

.curpoint {
  cursor: pointer;
}

.flex-flow {
  display: flex;
  flex-flow: wrap;
}
